<h3 style="text-align: center;">Who Am I</h3>
<br>
<br>
<div class="who">

    
    <div fxLayout="row">
        <div fxFlex="50%">
            <h3>Device Id :</h3>
        </div>
        <div fxFlex="50%">
           <h3> </h3>
        </div>    
    </div>  
  
    <div fxLayout="row">
        <div fxFlex="50%">
            <h3>IP Address :</h3>
        </div>
        <div fxFlex="50%">
         <h3> </h3>
        </div>    
    </div>  
  


    
    <div fxLayout="row">
        <div fxFlex="50%">
            <h3>Network Type :</h3>
        </div>
        <div fxFlex="50%">
            <mat-button-toggle-group name="network" [(ngModel)]="network" class="btn">
                <mat-button-toggle value="ON">Wifi</mat-button-toggle>
                <mat-button-toggle value="OFF">Lan</mat-button-toggle>
            
            </mat-button-toggle-group>
        </div>    
    </div>  

      
    <div fxLayout="row">
        <div fxFlex="50%">
            <h3>Clustered Devices : </h3>
        </div>
        <div fxFlex="50%">
         
        </div>    
    </div>  
      
    <div fxLayout="row">
        <div fxFlex="50%">
            <h3>Backup : </h3>
        </div>
        <div fxFlex="50%">
            
        </div>    
    </div>  
  
  
</div>