

.login {
  margin: 0 auto;
  padding: 1%;
  text-align: center;
  position: absolute;
  top: 32%;
  left: 38%;
}
.tet{
  position: absolute; 
  top: 80%;
   left: 28%;
}

.mainpg {
  display: flex;
  flex-direction: column;
  height: 100%; width: 100%;
  overflow: hidden;
}

.errMsg {
  color: red;
  font-weight: bold;
}


::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: red!important;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: red!important;

}


::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: red!important;
}


::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red!important;
  opacity: 0.8!important;
}


::ng-deep .mat-input-element {
  caret-color: red!important;
}


::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: red!important;
}


::ng-deep .mat-form-field-label {
  color:white!important;

}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: red!important;
}


::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red!important;
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
  .login{
    left: 10%;
    text-align: center;
  }
  .mainpg{
    text-align: left;
  }
  .tet{
  left: 5%;
  }
}