<button mat-raised-button color="primary" (click)="goBack()" style="margin-top: 5px;">Back</button>
<div class="wifi">
<div fxLayout="row">
    <div fxFlex="70%">
      <h4>Wireless</h4>
      <h4>Signal Strength :  </h4>
      <h4>Security Type : </h4>
      <h4>Network Band :</h4>
    </div>
    <div fxFlex="30%">
   <br>
      <button mat-raised-button class="btn" color="primary">
        Disconnect
    </button>
    <br>
    <br>
    <button mat-raised-button class="btn" color="primary">
      &nbsp; Forget &nbsp;
  </button>
    </div>
  </div> 
  <div fxLayout="row">
    <div fxFlex="70%">
      <h4>FlyWire</h4>
      <p>WPA2 PSK</p>
    
    </div>
    <div fxFlex="30%">
    
    <br>
  
    <button mat-raised-button class="btn" color="primary">
      Connect
  </button>
    </div>
  </div> 
  <h4>Guest</h4>
  <p>Unsecured</p>

  <h4>See All Networks</h4>
</div>  